$gray: #343a40;
$secondary: #197CAB;
$main: #2d7597;

$black: #000000;
$light-black: #202020;


// :root {
//   /* Set the deafult values */
//   --pink: var($main);
//   --selected-disabled-color: var($dark-pink);
// }
