$purple: #25152e;
$purple-dark: #0f0d17;
$purple-light: #311041;
$purple-pastel: #432754;
$grey: #2b272b;
$grey-dark: #201D20;

$main-color-text: white;
$secondary: $purple-pastel;
$main: $purple;


$light-black: #202020;


// :root {
//   /* Set the deafult values */
//   --pink: var($main);
//   --selected-disabled-color: var($dark-pink);
// }
