$gray: #0F050B;
$light-pink: #F7EBF2;
$pink: #a2176d;
$black: #000000;
$light-black: #202020;


// :root {
//   /* Set the deafult values */
//   --pink: var($pink);
//   --selected-disabled-color: var($dark-pink);
// }
