.genre__card {
  height: 50px;
  padding: 8px 8px;
  margin: 8px 8px 8px 0;
  display: inline-flex;
  align-items: center;
  border-radius: 16px;
  background-color: white;
  color:black;
  img {
    height: 30px;
  }
}

.genre__card.selected {
  background-color: $main;
}

.genre__name {
  text-align: center;
  font-weight: 200;
  margin-left: 4px
}
