.swipe-buttons {
  display: flex;
  align-items: center;
  width: min-content;
  margin: 16px auto;
  .MuiIconButton-root {
    color: white;
    background-color: $light-black;
  }

  .btn__thumb__up, .btn__thumb__down {
    display: block;
  }
}
