// Graphical variables
// @import "../stylesheet/config/bootstrap_variables";
@import "../stylesheet/config/colors";
@import "../stylesheet/config/fonts";

$theme-colors: (
  "primary": $main,
  "secondary": $light-black,
  "dark": $light-black
);
// External libraries
@import "~bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "../stylesheet/components/index";



body {

  background: rgb(37,21,46);
  background: linear-gradient(126deg, rgba(37,21,46,1) 16%, rgba(15,13,23,1) 59%);
  color:$main-color-text;
  font-family: $body-font;
  height: 100vh;
}

.main-container {
  height: 100vh;
  text-align: center;
}

h1, h2 {
  color: $white;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: white;
}
